# AppVeyor.com is a Continuous Integration service to build and run tests under
# Windows

environment:
  global:
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\ci_scripts\\appveyor\\run_with_env.cmd"
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script interpreter
    # See: http://stackoverflow.com/a/13751649/163740
    ENSURE_PYNAUTY: .\ci_scripts\appveyor\ensure_pynauty.py
    WHEELHOUSE_UPLOADER_USERNAME: ysig
    MODULE: grakel
    PROJECT_NAME: GraKeL
    CLOUD_STORAGE: LOCAL

  matrix:
    - PYTHON: "C:\\Python27-x64"
      PYTHON_VERSION: "2.7.8"
      PYTHON_ARCH: "64"
      MINICONDA: "C:\\Miniconda-x64"

install:
  # Set to the Path variable binaries for linux like commands make, tar
  # and also add gcc, g++ support plus python, pip
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  
  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "pip --version"
  
  # Install the build and runtime dependencies of the project.ip
  - "pip install \"future>=0.16.0\" \"six>=1.11.0\" \"numpy>=1.14.0\" \"scipy>=1.0.1\" \"cvxopt>=1.1.9\" \"cython>=0.27.3\" \"nose>=1.1.2\" \"scikit-learn>=0.19.0\" setuptools wheel wheelhouse_uploader nose-timer --upgrade"

  # Install pynauty (in a correct environment)
  # See: https://packaging.python.org/guides/supprting-windows-using-appveyor/
  # MinGW build is the only valid. Bypassing gcc dependencies
  # seems tough for the non native developer of the pynauty library.
  # Installation will be done with mingw. Propably will lead to error inside appveyor
  # because of 4GB memory overhead on a x64 3.4 python, upon library import
  # See: https://github.com/ContinuumIO/anaconda-issues/issues/271#issue-58658137
  
  # Check import of pynauty here and on env
  # - "python %ENSURE_PYNAUTY%"

  # Install project
  - "%CMD_IN_ENV% python setup.py bdist_wheel bdist_wininst"
  - ps: "ls dist"
  
  # Install the generated wheel package to test it
  - "pip install --pre --no-index --find-links dist %PROJECT_NAME%"


# Not a .NET project, we build scikit-learn in the install step instead
build: false


artifacts:
  # Archive the generated wheel package in the ci.appveyor.com build report.
  - path: dist\*


on_success:
  # Upload the generated wheel package to Rackspace
  # On Windows, Apache Libcloud cannot find a standard CA cert bundle so we
  # disable the ssl checks.
  - "python -m wheelhouse_uploader upload provider=%CLOUD_STORAGE% --no-ssl-check --local-folder=dist %CLOUD_CONTAINER%"


test_script:
  # Change to a non-source folder to make sure we run the tests on the installed library.
  - "mkdir empty_folder"
  - "cd empty_folder"

  - "python -c \"import nose; nose.main()\" --with-timer --timer-top-n 120 -s -v %MODULE%"

  # Move back to the project folder
  - "cd .."


cache:
  # Use the appveyor cache to avoid re-downloading large archives such
  # the MKL numpy and scipy wheels mirrored on a rackspace cloud
  # container, speed up the appveyor jobs and reduce bandwidth
  # usage on our rackspace account.
  - '%APPDATA%\pip\Cache'
