include requirements.txt
include install_pynauty.py
include grakel/kernels/_c_functions/*.pxd
include grakel/kernels/_c_functions/*.pyx
recursive-include grakel/kernels/_c_functions/include *
recursive-include grakel/kernels/_c_functions/src *