include README.md
include requirements.txt

include grakel/kernels/_c_functions/*.pxd
include grakel/kernels/_c_functions/*.pyx
recursive-include grakel/kernels/_c_functions/include *
recursive-include grakel/kernels/_c_functions/src *

recursive-include grakel/kernels/_isomorphism/bliss-0.50 *
recursive-include grakel/kernels/_isomorphism *

recursive-include grakel/tests/data/Cuneiform *
recursive-include grakel/tests/data/MUTAG *

include doc/*.rst
include doc/conf.py
include doc/Makefile
include doc/make.bat
recursive-include doc/documentation *
recursive-include doc/benchmarks *
recursive-include doc/_static *
recursive-include doc/_templates *
recursive-include doc/kernels *
recursive-include doc/sphinxext *
recursive-include examples *
