version: 2
jobs:
  python2:
      docker:
        - image: circleci/python:2.7
      steps:
        - checkout
        - run: bash ./ci_scripts/circleci/install.sh
        - store_artifacts:
            path: doc/_build/html
            destination: doc
        - store_artifacts:
            path: ~/log.txt
            destination: log.txt

  python3:
    docker:
      - image: circleci/python:3.5
    steps:
      - checkout
      - run: bash ./ci_scripts/circleci/install.sh
      - store_artifacts:
          path: doc/_build/html
          destination: doc
      - store_artifacts:
          path: ~/log.txt
          destination: log.txt
      - persist_to_workspace:
          root: doc/_build/html
          paths: .

  deploy:
    docker:
      - image: circleci/python:3.5
    environment:
      # The github organization or username of the repository which hosts the
      # project and documentation.
      - USERNAME: "ysig"

      # The repository where the documentation will be hosted
      - DOC_REPO: "GraKeL"

      # The base URL for the Github page where the documentation will be hosted
      - DOC_URL: "dev"

      # The email is to be used for commits in the Github Page
      - EMAIL: "y.siglidis@gmail.com"

      # Deploy on PyPi
      - DEPLOY_PYPI: "true"

    steps:
      - attach_workspace:
          at: doc/_build/html
      - deploy:
          command: bash ./ci_scripts/circleci/push_doc.sh

workflows:
  version: 2
  build-doc-and-deploy:
    jobs:
      - python3
      - python2
      - deploy:
          requires:
            - python2
            - python3
          filters:
            branches:
              only: develop
