version: 2

jobs:
  python3:
    docker:
      - image: circleci/python:3.5.2
    environment:
      # The github organization or username of the repository which hosts the
      # project and documentation.
      - USERNAME: "ysig"

      # The repository where the documentation will be hosted
      - DOC_REPO: "GraKeL"

      # The base URL for the Github page where the documentation will be hosted
      - DOC_URL: "dev"

      # The email is to be used for commits in the Github Page
      - EMAIL: "y.siglidis@gmail.com"
    steps:
      - checkout
      # pre?
      - run:
          name: Intalling System Dependencies
          command: |
            sudo -E apt-get -yq remove texlive-binaries --purge
            sudo apt-get update
            sudo apt-get install libatlas-dev libatlas3gf-base
            sudo apt-get install build-essential python-dev python-setuptools
      - run:
          name: Intalling Python Dependencies
          command: |
            # install numpy first as it is a compile time dependency for other packages
            pip install --upgrade numpy
            pip install --upgrade scipy matplotlib setuptools nose coverage sphinx pillow sphinx-gallery sphinx_rtd_theme sphinxcontrib-bibtex nb2plots
            # Installing required packages for `make -C doc check command` to work.
            sudo -E apt-get -yq update
            sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install dvipng texlive-latex-base texlive-latex-extra
            pip install --upgrade cython numpydoc
            pip install --upgrade scikit-learn
            pip install --upgrade cvxopt
            pip install --upgrade matplotlib
      - run:
          name: Install Pynauty
          command: python install_pynauty.py --user
      - run:
          name: Install package
          name: |
            python setup.py clean
            python setup.py develop
      - run:
          name: Build Documentation
          command: set -o pipefail && cd doc && make html 2>&1 | tee ~/log.txt
          no_output_timeout: 20m
      - run: 
          name: Check for errors
          command: cat ~/log.txt && if grep -q "Traceback (most recent call last):" ~/log.txt; then false; else true; fi
      - store_artifacts:
          path: doc/_build/html
          destination: doc
      - store_artifacts:
          path: ~/log.txt
          destination: log.txt
      - persist_to_workspace:
          root: doc/_build/html
          paths: .

  deploy:
    docker:
      - image: circleci/python:3.6.1
    steps:
      - checkout
      - run: ./build_tools/circle/checkout_merge_commit.sh
      # Attach documentation generated in the 'python3' step so that it can be
      # deployed.
      - attach_workspace:
          at: doc/_build/html
      - run: ls -ltrh doc/_build/html
      - deploy:
          command: bash ../ci_scripts/circleci/push_doc.sh

workflows:
  version: 2
  build-doc-and-deploy:
    jobs:
      - python3
      - deploy:
          requires:
            - python3
          filters:
            branches:
              only: develop